In [158]:
# Import dependencies
import pandas as pd
from selenium import webdriver
from selenium.webdriver import ActionChains
from bs4 import BeautifulSoup

In [155]:
# Apple url links
aapl_is = "http://www.macrotrends.net/stocks/charts/AAPL/apple/income-statement?freq=Q"
aapl_bs = "https://www.macrotrends.net/stocks/charts/AAPL/apple/balance-sheet?freq=Q"
aapl_cf = "https://www.macrotrends.net/stocks/charts/AAPL/apple/cash-flow-statement?freq=Q"
aapl_ratios = "https://www.macrotrends.net/stocks/charts/AAPL/apple/financial-ratios?freq=Q"

In [18]:
# Amazon url links
amzn_is = "http://www.macrotrends.net/stocks/charts/AMZN/amazon/income-statement?freq=Q"
amzn_bs = "https://www.macrotrends.net/stocks/charts/AMZN/amazon/balance-sheet?freq=Q"
amzn_cf = "https://www.macrotrends.net/stocks/charts/AMZN/amazon/cash-flow-statement?freq=Q"
amzn_ratios = "https://www.macrotrends.net/stocks/charts/AMZN/amazon/financial-ratios?freq=Q"

In [19]:
# Facebook url links
fb_is = "http://www.macrotrends.net/stocks/charts/FB/facebook/income-statement?freq=Q"
fb_bs = "https://www.macrotrends.net/stocks/charts/FB/facebook/balance-sheet?freq=Q"
fb_cf = "https://www.macrotrends.net/stocks/charts/FB/facebook/cash-flow-statement?freq=Q"
fb_ratios = "https://www.macrotrends.net/stocks/charts/FB/facebook/financial-ratios?freq=Q"

In [20]:
# Alphabet url links
googl_is = "http://www.macrotrends.net/stocks/charts/GOOGL/alphabet/income-statement?freq=Q"
googl_bs = "https://www.macrotrends.net/stocks/charts/GOOGL/alphabet/balance-sheet?freq=Q"
googl_cf = "https://www.macrotrends.net/stocks/charts/GOOGL/alphabet/cash-flow-statement?freq=Q"
googl_ratios = "https://www.macrotrends.net/stocks/charts/GOOGL/alphabet/financial-ratios?freq=Q"

In [21]:
# Microsoft url links
msft_is = "http://www.macrotrends.net/stocks/charts/MSFT/microsoft/income-statement?freq=Q"
msft_bs = "https://www.macrotrends.net/stocks/charts/MSFT/microsoft/balance-sheet?freq=Q"
msft_cf = "https://www.macrotrends.net/stocks/charts/MSFT/microsoft/cash-flow-statement?freq=Q"
msft_ratios = "https://www.macrotrends.net/stocks/charts/MSFT/microsoft/financial-ratios?freq=Q"

In [219]:
# Create driver session in Chrome browser
driver = webdriver.Chrome()

# Maximize the web page to try to get the elements to have the same spacing for each url
# Tell the driver what url to scrape
driver.maximize_window()
driver.get(aapl_is)

# Create table variable to grab the div element id for the table on the web page
table = driver.find_element_by_id("wrapperjqxgrid")
driver.execute_script("window.scrollBy(0, 600);")
# Create a variable to hold the div element id for the scrollbar
scrollbar = driver.find_element_by_id("jqxScrollThumbhorizontalScrollBarjqxgrid")

# Use ActionChains to be able to automate the "drag and drop" of the scrollbar when scraping because
# not all of the information we are trying to scrape is visible without dragging the scrollbar over 
actions = ActionChains(driver)

# Had to adjust the range for some urls because of the way that the longer Quarterly Data elements were
# aligned (Research and Development Expenses was sometimes 1 lin, other times 2 lines, and sometimes 3 lines).
# This resulted in having to adjust how far the to drag the scrollbar when scraping the Facebook urls
for i in range(1, 7):
    actions.drag_and_drop_by_offset(scrollbar, i, 0).perform()

In [221]:
# Create soup object to access the outerHTML of the table because we still need the html elements 
# to be able to separately access the contents within the table
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")

# Create a variable to hold the div element role="columnheader" from the html and then grab only
# the text out of this div element
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]

# Create a variable to hold the div element role="row" from the html and grab the text from the immediate
# children of the div by restricting it through recursive=False, or else the scrape passes over some of the
# div elements in the table
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]

# Create a dataframe containing the scraped data and column headers
aapl_is_df = pd.DataFrame(data, columns=column_headers)

# Close the webdriver
driver.close()

aapl_is_df.head()

,Quarterly Data | Millions of US $ except per share data,,2019-06-30,2019-03-31,2018-12-31,2018-09-30,2018-06-30,2018-03-31,2017-12-31,2017-09-30,2017-06-30,2017-03-31,2016-12-31
0,Revenue,,"$53,809","$58,015","$84,310","$62,900","$53,265","$61,137","$88,293","$52,579","$45,408","$52,896","$78,351"
1,Cost Of Goods Sold,,"$33,582","$36,194","$52,279","$38,816","$32,844","$37,715","$54,381","$32,648","$27,920","$32,305","$48,175"
2,Gross Profit,,"$20,227","$21,821","$32,031","$24,084","$20,421","$23,422","$33,912","$19,931","$17,488","$20,591","$30,176"
3,Research And Development Expenses,,"$4,257","$3,948","$3,902","$3,750","$3,701","$3,378","$3,407","$2,997","$2,937","$2,776","$2,871"
4,SG&A Expenses,,"$4,426","$4,458","$4,783","$4,216","$4,108","$4,150","$4,231","$3,814","$3,783","$3,718","$3,946"

In [185]:
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(amzn_is)

table = driver.find_element_by_id("wrapperjqxgrid")
driver.execute_script("window.scrollBy(0, 600);")
scrollbar = driver.find_element_by_id("jqxScrollThumbhorizontalScrollBarjqxgrid")

actions = ActionChains(driver)

for i in range(1, 7):
    actions.drag_and_drop_by_offset(scrollbar, i, 0).perform()

In [188]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
amzn_is_df = pd.DataFrame(data, columns=column_headers)

driver.close()

amzn_is_df.head()

,Quarterly Data | Millions of US $ except per share data,,2019-06-30,2019-03-31,2018-12-31,2018-09-30,2018-06-30,2018-03-31,2017-12-31,2017-09-30,2017-06-30,2017-03-31,2016-12-31
0,Revenue,,"$16,886","$15,077","$16,914","$13,727","$13,231","$11,966","$12,972","$10,328","$9,321","$8,032","$8,809"
1,Cost Of Goods Sold,,"$3,307","$2,816","$2,796","$2,418","$2,214","$1,927","$1,610","$1,448","$1,237","$1,159","$1,047"
2,Gross Profit,,"$13,579","$12,261","$14,118","$11,309","$11,017","$10,039","$11,362","$8,880","$8,084","$6,873","$7,762"
3,Research And Development Expenses,,"$3,315","$2,860","$2,855","$2,657","$2,523","$2,238","$1,949","$2,052","$1,919","$1,834","$1,563"
4,SG&A Expenses,,"$5,638","$6,084","$3,443","$2,871","$2,631","$2,352","$2,060","$1,706","$1,764","$1,712","$1,633"

In [187]:
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(fb_is)

table = driver.find_element_by_id("wrapperjqxgrid")
driver.execute_script("window.scrollBy(0, 600);")
scrollbar = driver.find_element_by_id("jqxScrollThumbhorizontalScrollBarjqxgrid")

actions = ActionChains(driver)

for i in range(1, 8):
    actions.drag_and_drop_by_offset(scrollbar, i, 0).perform()

In [135]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
fb_is_df = pd.DataFrame(data, columns=column_headers)

driver.close()

fb_is_df.head()

,Quarterly Data | Millions of US $ except per share data,,2019-06-30,2019-03-31,2018-12-31,2018-09-30,2018-06-30,2018-03-31,2017-12-31,2017-09-30,2017-06-30,2017-03-31,2016-12-31
0,Revenue,,"$16,886","$15,077","$16,914","$13,727","$13,231","$11,966","$12,972","$10,328","$9,321","$8,032","$8,809"
1,Cost Of Goods Sold,,"$3,307","$2,816","$2,796","$2,418","$2,214","$1,927","$1,610","$1,448","$1,237","$1,159","$1,047"
2,Gross Profit,,"$13,579","$12,261","$14,118","$11,309","$11,017","$10,039","$11,362","$8,880","$8,084","$6,873","$7,762"
3,Research And Development Expenses,,"$3,315","$2,860","$2,855","$2,657","$2,523","$2,238","$1,949","$2,052","$1,919","$1,834","$1,563"
4,SG&A Expenses,,"$5,638","$6,084","$3,443","$2,871","$2,631","$2,352","$2,060","$1,706","$1,764","$1,712","$1,633"

In [189]:
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(googl_is)

table = driver.find_element_by_id("wrapperjqxgrid")
driver.execute_script("window.scrollBy(0, 600);")
scrollbar = driver.find_element_by_id("jqxScrollThumbhorizontalScrollBarjqxgrid")

actions = ActionChains(driver)

for i in range(1, 7):
    actions.drag_and_drop_by_offset(scrollbar, i, 0).perform()

In [190]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
googl_is_df = pd.DataFrame(data, columns=column_headers)

driver.close()

googl_is_df.head()

,Quarterly Data | Millions of US $ except per share data,,2019-06-30,2019-03-31,2018-12-31,2018-09-30,2018-06-30,2018-03-31,2017-12-31,2017-09-30,2017-06-30,2017-03-31,2016-12-31
0,Revenue,,"$38,944","$36,339","$39,276","$33,740","$32,657","$31,146","$32,323","$27,772","$26,010","$24,750","$26,064"
1,Cost Of Goods Sold,,"$17,296","$16,012","$17,918","$14,281","$13,883","$13,467","$14,267","$11,148","$10,373","$9,795","$10,661"
2,Gross Profit,,"$21,648","$20,327","$21,358","$19,459","$18,774","$17,679","$18,056","$16,624","$15,637","$14,955","$15,403"
3,Research And Development Expenses,,"$6,213","$6,029","$6,034","$5,232","$5,114","$5,039","$4,306","$4,205","$4,172","$3,942","$3,622"
4,SG&A Expenses,,"$6,255","$5,993","$7,991","$5,917","$5,544","$5,007","$6,086","$4,637","$4,597","$4,445","$5,142"

In [192]:
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(msft_is)

table = driver.find_element_by_id("wrapperjqxgrid")
driver.execute_script("window.scrollBy(0, 600);")
scrollbar = driver.find_element_by_id("jqxScrollThumbhorizontalScrollBarjqxgrid")

actions = ActionChains(driver)

for i in range(1, 7):
    actions.drag_and_drop_by_offset(scrollbar, i, 0).perform()

In [193]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
msft_is_df = pd.DataFrame(data, columns=column_headers)

driver.close()

msft_is_df.head()

,Quarterly Data | Millions of US $ except per share data,,2019-06-30,2019-03-31,2018-12-31,2018-09-30,2018-06-30,2018-03-31,2017-12-31,2017-09-30,2017-06-30,2017-03-31,2016-12-31
0,Revenue,,"$33,717","$30,571","$32,471","$29,084","$30,085","$26,819","$28,918","$24,538","$25,605","$23,212","$25,826"
1,Cost Of Goods Sold,,"$10,412","$10,170","$12,423","$9,905","$9,742","$9,269","$11,064","$8,278","$8,456","$8,060","$9,901"
2,Gross Profit,,"$23,305","$20,401","$20,048","$19,179","$20,343","$17,550","$17,854","$16,260","$17,149","$15,152","$15,925"
3,Research And Development Expenses,,"$4,513","$4,316","$4,070","$3,977","$3,933","$3,715","$3,504","$3,574","$3,514","$3,355","$3,062"
4,SG&A Expenses,,"$6,387","$5,744","$5,720","$5,247","$6,031","$5,543","$5,671","$4,978","$5,647","$5,074","$4,958"

In [194]:
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(aapl_bs)

table = driver.find_element_by_id("wrapperjqxgrid")
driver.execute_script("window.scrollBy(0, 600);")
scrollbar = driver.find_element_by_id("jqxScrollThumbhorizontalScrollBarjqxgrid")

actions = ActionChains(driver)

for i in range(1, 7):
    actions.drag_and_drop_by_offset(scrollbar, i, 0).perform()

In [195]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
aapl_bs_df = pd.DataFrame(data, columns=column_headers)

driver.close()

aapl_bs_df.head()

,Quarterly Data | Millions of US $ except per share data,,2019-06-30,2019-03-31,2018-12-31,2018-09-30,2018-06-30,2018-03-31,2017-12-31,2017-09-30,2017-06-30,2017-03-31,2016-12-31
0,Cash On Hand,,"$94,614","$80,092","$86,427","$66,301","$70,970","$87,940","$77,153","$74,181","$76,759","$67,101","$60,452"
1,Notes And Loans Receivable,,-,-,-,-,-,-,-,-,-,-,-
2,Inventory,,"$3,355","$4,884","$4,988","$3,956","$5,936","$7,662","$4,421","$4,855","$3,146","$2,910","$2,712"
3,Other Current Assets,,"$10,530","$12,092","$12,432","$12,087","$12,488","$12,043","$11,337","$13,936","$10,338","$11,367","$12,191"
4,Total Current Assets,,"$134,973","$123,346","$140,828","$131,339","$115,761","$130,053","$143,810","$128,645","$112,875","$101,990","$103,332"

In [196]:
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(amzn_bs)

table = driver.find_element_by_id("wrapperjqxgrid")
driver.execute_script("window.scrollBy(0, 600);")
scrollbar = driver.find_element_by_id("jqxScrollThumbhorizontalScrollBarjqxgrid")

actions = ActionChains(driver)

for i in range(1, 7):
    actions.drag_and_drop_by_offset(scrollbar, i, 0).perform()

In [197]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
amzn_bs_df = pd.DataFrame(data, columns=column_headers)

driver.close()

amzn_bs_df.head()

,Quarterly Data | Millions of US $ except per share data,,2019-06-30,2019-03-31,2018-12-31,2018-09-30,2018-06-30,2018-03-31,2017-12-31,2017-09-30,2017-06-30,2017-03-31,2016-12-31
0,Cash On Hand,,"$41,463","$37,020","$41,250","$29,765","$27,050","$24,963","$30,986","$24,310","$21,451","$21,531","$25,981"
1,Notes And Loans Receivable,,-,-,-,-,-,-,-,-,-,-,-
2,Inventory,,"$18,580","$16,432","$17,174","$15,862","$14,824","$13,840","$16,047","$13,711","$11,510","$10,600","$11,461"
3,Other Current Assets,,-,-,-,-,-,-,-,-,-,-,-
4,Total Current Assets,,"$76,790","$69,431","$75,101","$59,885","$54,481","$50,829","$60,197","$48,578","$41,007","$39,460","$45,781"

In [198]:
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(fb_bs)

table = driver.find_element_by_id("wrapperjqxgrid")
driver.execute_script("window.scrollBy(0, 600);")
scrollbar = driver.find_element_by_id("jqxScrollThumbhorizontalScrollBarjqxgrid")

actions = ActionChains(driver)

for i in range(1, 8):
    actions.drag_and_drop_by_offset(scrollbar, i, 0).perform()

In [199]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
fb_bs_df = pd.DataFrame(data, columns=column_headers)

driver.close()

fb_bs_df.head()

,Quarterly Data | Millions of US $ except per share data,,2019-06-30,2019-03-31,2018-12-31,2018-09-30,2018-06-30,2018-03-31,2017-12-31,2017-09-30,2017-06-30,2017-03-31,2016-12-31
0,Cash On Hand,,"$48,596","$45,243","$41,114","$41,206","$42,309","$43,956","$41,711","$38,289","$35,452","$32,306","$29,449"
1,Notes And Loans Receivable,,-,-,-,-,-,-,-,-,-,-,-
2,Inventory,,-,-,-,-,-,-,-,-,-,-,-
3,Other Current Assets,,-,-,-,-,-,-,-,-,-,-,-
4,Total Current Assets,,"$57,961","$53,300","$50,480","$49,147","$49,833","$50,412","$48,563","$44,203","$40,804","$36,930","$34,401"

In [200]:
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(googl_bs)

table = driver.find_element_by_id("wrapperjqxgrid")
driver.execute_script("window.scrollBy(0, 600);")
scrollbar = driver.find_element_by_id("jqxScrollThumbhorizontalScrollBarjqxgrid")

actions = ActionChains(driver)

for i in range(1, 7):
    actions.drag_and_drop_by_offset(scrollbar, i, 0).perform()

In [201]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
googl_bs_df = pd.DataFrame(data, columns=column_headers)

driver.close()

googl_bs_df.head()

,Quarterly Data | Millions of US $ except per share data,,2019-06-30,2019-03-31,2018-12-31,2018-09-30,2018-06-30,2018-03-31,2017-12-31,2017-09-30,2017-06-30,2017-03-31,2016-12-31
0,Cash On Hand,,"$121,056","$113,488","$109,140","$106,416","$102,254","$102,885","$101,871","$100,143","$94,713","$92,439","$86,333"
1,Notes And Loans Receivable,,-,-,-,-,-,-,-,-,-,-,-
2,Inventory,,$964,"$1,053","$1,107","$1,212",$698,$636,$749,$765,$398,$280,$268
3,Other Current Assets,,"$4,100","$4,406","$4,236","$4,007","$3,961","$3,426","$2,983","$2,860",-,-,"$4,575"
4,Total Current Assets,,"$147,437","$138,207","$135,676","$129,702","$124,157","$123,761","$124,308","$119,345","$112,386","$108,794","$105,408"

In [202]:
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(msft_bs)

table = driver.find_element_by_id("wrapperjqxgrid")
driver.execute_script("window.scrollBy(0, 600);")
scrollbar = driver.find_element_by_id("jqxScrollThumbhorizontalScrollBarjqxgrid")

actions = ActionChains(driver)

for i in range(1, 7):
    actions.drag_and_drop_by_offset(scrollbar, i, 0).perform()

In [204]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
msft_bs_df = pd.DataFrame(data, columns=column_headers)

driver.close()

msft_bs_df.head()

,Quarterly Data | Millions of US $ except per share data,,2019-06-30,2019-03-31,2018-12-31,2018-09-30,2018-06-30,2018-03-31,2017-12-31,2017-09-30,2017-06-30,2017-03-31,2016-12-31
0,Cash On Hand,,"$133,819","$131,618","$127,662","$135,880","$133,768","$132,270","$142,780","$138,471","$132,981","$126,018","$122,781"
1,Notes And Loans Receivable,,-,-,-,-,-,-,-,-,-,-,-
2,Inventory,,"$2,063","$1,951","$1,961","$3,614","$2,662","$2,084","$2,003","$3,211","$2,181","$1,979","$1,961"
3,Other Current Assets,,"$10,146","$7,049","$7,571","$7,311","$6,751","$5,097","$4,422","$4,788","$5,103","$5,434","$5,864"
4,Total Current Assets,,"$175,552","$159,887","$156,874","$164,195","$169,662","$156,659","$167,633","$161,031","$162,696","$146,313","$144,949"

In [247]:
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(aapl_cf)

table = driver.find_element_by_id("wrapperjqxgrid")

In [248]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
aapl_cf_df = pd.DataFrame(data, columns=column_headers)

driver.close()

aapl_cf_df.head()

,Annual Data | Millions of US $ except per share data,,2018-09-30,2017-09-30,2016-09-30,2015-09-30,2014-09-30,2013-09-30,2012-09-30
0,Net Income/Loss,,"$59,531","$48,351","$45,687","$53,394","$39,510","$37,037","$41,733"
1,Total Depreciation And Amortization - Cash Flow,,"$10,903","$10,157","$10,505","$11,257","$7,946","$6,757","$3,277"
2,Other Non-Cash Items,,"$-27,694","$10,640","$9,634","$5,353","$5,210","$3,394","$6,145"
3,Total Non-Cash Items,,"$-16,791","$20,797","$20,139","$16,610","$13,156","$10,151","$9,422"
4,Change In Accounts Receivable,,"$-5,322","$-2,093",$527,$417,"$-4,232","$-2,172","$-5,551"

In [249]:
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(amzn_cf)

table = driver.find_element_by_id("wrapperjqxgrid")

In [250]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
amzn_cf_df = pd.DataFrame(data, columns=column_headers)

driver.close()

amzn_cf_df.head()

,Annual Data | Millions of US $ except per share data,,2018-12-31,2017-12-31,2016-12-31,2015-12-31,2014-12-31,2013-12-31,2012-12-31
0,Net Income/Loss,,"$10,073","$3,033","$2,371",$596,$-241,$274,$-39
1,Total Depreciation And Amortization - Cash Flow,,"$15,341","$11,478","$8,116","$6,281","$4,746","$3,253","$2,159"
2,Other Non-Cash Items,,"$6,078","$3,894","$2,709","$2,450","$1,234","$1,067",$383
3,Total Non-Cash Items,,"$21,419","$15,372","$10,825","$8,731","$5,980","$4,320","$2,542"
4,Change In Accounts Receivable,,"$-4,615","$-4,780","$-3,436","$-1,755","$-1,039",$-846,$-861

In [251]:
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(fb_cf)

table = driver.find_element_by_id("wrapperjqxgrid")

In [252]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
fb_cf_df = pd.DataFrame(data, columns=column_headers)

driver.close()

fb_cf_df.head()

,Annual Data | Millions of US $ except per share data,,2018-12-31,2017-12-31,2016-12-31,2015-12-31,2014-12-31,2013-12-31,2012-12-31
0,Net Income/Loss,,"$22,112","$15,934","$10,217","$3,688","$2,940","$1,500",$53
1,Total Depreciation And Amortization - Cash Flow,,"$4,315","$3,025","$2,342","$1,945","$1,243","$1,011",$649
2,Other Non-Cash Items,,"$4,374","$3,370","$2,791","$3,903","$3,405","$1,035","$1,409"
3,Total Non-Cash Items,,"$8,689","$6,395","$5,133","$5,848","$4,648","$2,046","$2,058"
4,Change In Accounts Receivable,,"$-1,892","$-1,609","$-1,489",$-973,$-610,$-378,$-170

In [253]:
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(googl_cf)

table = driver.find_element_by_id("wrapperjqxgrid")

In [254]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
googl_cf_df = pd.DataFrame(data, columns=column_headers)

driver.close()

googl_cf_df.head()

,Annual Data | Millions of US $ except per share data,,2018-12-31,2017-12-31,2016-12-31,2015-12-31,2014-12-31,2013-12-31,2012-12-31
0,Net Income/Loss,,"$30,736","$12,662","$19,478","$16,348","$14,136","$12,733","$10,737"
1,Total Depreciation And Amortization - Cash Flow,,"$9,035","$6,915","$6,144","$5,063","$4,979","$3,939","$2,962"
2,Other Non-Cash Items,,"$3,292","$8,268","$7,114","$5,570","$3,237","$1,831","$2,022"
3,Total Non-Cash Items,,"$12,327","$15,183","$13,258","$10,633","$8,216","$5,770","$4,984"
4,Change In Accounts Receivable,,"$-2,169","$-3,768","$-2,578","$-2,094","$-1,641","$-1,307",$-787

In [255]:
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(msft_cf)

table = driver.find_element_by_id("wrapperjqxgrid")

In [256]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
msft_cf_df = pd.DataFrame(data, columns=column_headers)

driver.close()

msft_cf_df.head()

,Annual Data | Millions of US $ except per share data,,2019-06-30,2018-06-30,2017-06-30,2016-06-30,2015-06-30,2014-06-30,2013-06-30
0,Net Income/Loss,,"$39,240","$16,571","$25,489","$20,539","$12,193","$22,074","$21,863"
1,Total Depreciation And Amortization - Cash Flow,,"$11,682","$10,261","$8,778","$7,252","$13,455","$5,212","$3,755"
2,Other Non-Cash Items,,"$1,859","$2,507","$4,184","$7,489","$2,507","$4,592","$4,590"
3,Total Non-Cash Items,,"$13,541","$12,768","$12,962","$14,741","$15,962","$9,804","$8,345"
4,Change In Accounts Receivable,,"$-2,812","$-3,862","$-1,216",$562,"$1,456","$-1,120","$-1,807"

In [205]:
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(aapl_ratios)

table = driver.find_element_by_id("wrapperjqxgrid")
driver.execute_script("window.scrollBy(0, 600);")
scrollbar = driver.find_element_by_id("jqxScrollThumbhorizontalScrollBarjqxgrid")

actions = ActionChains(driver)

for i in range(1, 7):
    actions.drag_and_drop_by_offset(scrollbar, i, 0).perform()

In [206]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
aapl_ratios_df = pd.DataFrame(data, columns=column_headers)

driver.close()

aapl_ratios_df.head()

,Quarterly Data,,2019-06-30,2019-03-31,2018-12-31,2018-09-30,2018-06-30,2018-03-31,2017-12-31,2017-09-30,2017-06-30,2017-03-31,2016-12-31
0,Current Ratio,,1.5046,1.3154,1.3006,1.1329,1.3073,1.456,1.242,1.2761,1.3883,1.3906,1.2282
1,Long-term Debt / Capital,,0.4682,0.4601,0.441,0.4666,0.458,0.4441,0.4257,0.4203,0.4043,0.3867,0.3572
2,Debt/Equity Ratio,,1.124,1.064,0.9732,1.0685,0.997,0.9603,0.873,0.863,0.8181,0.7348,0.6613
3,Gross Margin,,37.5904,37.6127,37.9919,38.2894,38.3385,38.3107,38.4085,37.9068,38.513,38.9273,38.5139
4,Operating Margin,,21.4537,23.1233,27.6907,25.6248,23.6778,25.9974,29.7577,24.9529,23.7139,26.6504,29.8133

In [211]:
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(amzn_ratios)

table = driver.find_element_by_id("wrapperjqxgrid")
driver.execute_script("window.scrollBy(0, 600);")
scrollbar = driver.find_element_by_id("jqxScrollThumbhorizontalScrollBarjqxgrid")

actions = ActionChains(driver)

for i in range(1, 7):
    actions.drag_and_drop_by_offset(scrollbar, i, 0).perform()

In [212]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
amzn_ratios_df = pd.DataFrame(data, columns=column_headers)

driver.close()

amzn_ratios_df.head()

,Quarterly Data,,2019-06-30,2019-03-31,2018-12-31,2018-09-30,2018-06-30,2018-03-31,2017-12-31,2017-09-30,2017-06-30,2017-03-31,2016-12-31
0,Current Ratio,,1.1021,1.0901,1.0981,1.0824,1.0724,1.0579,1.04,1.032,1.012,1.0551,1.0448
1,Long-term Debt / Capital,,0.3054,0.3251,0.3504,0.3868,0.4132,0.4392,0.4717,0.5005,0.2487,0.2619,0.2852
2,Debt/Equity Ratio,,0.4397,0.4818,0.5395,0.6309,0.704,0.7831,0.893,1.0021,0.331,0.3548,0.399
3,Gross Margin,,42.6897,43.1826,38.1264,41.6661,42.0792,39.7849,36.3241,37.0222,38.2137,37.1675,33.7944
4,Operating Margin,,4.864,7.4037,5.2319,6.5823,5.6404,3.7753,3.5168,0.7933,1.6546,2.814,2.8692

In [213]:
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(fb_ratios)

table = driver.find_element_by_id("wrapperjqxgrid")

scrollbar = driver.find_element_by_id("jqxScrollThumbhorizontalScrollBarjqxgrid")

actions = ActionChains(driver)

for i in range(1, 8):
    actions.drag_and_drop_by_offset(scrollbar, i, 0).perform()

In [214]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
fb_ratios_df = pd.DataFrame(data, columns=column_headers)

driver.close()

fb_ratios_df.head()

,Quarterly Data,,2019-06-30,2019-03-31,2018-12-31,2018-09-30,2018-06-30,2018-03-31,2017-12-31,2017-09-30,2017-06-30,2017-03-31,2016-12-31
0,Current Ratio,,4.4658,5.3795,7.194,8.998,10.6709,9.9119,12.9157,13.3746,12.3089,12.6127,11.9656
1,Long-term Debt / Capital,,0.0743,0.0705,-,-,-,-,-,-,-,-,-
2,Debt/Equity Ratio,,0.088,0.0833,-,-,-,-,-,-,-,-,-
3,Gross Margin,,80.4157,81.3226,83.4693,82.3851,83.2666,83.896,87.5887,85.9799,86.7289,85.5702,88.1144
4,Operating Margin,,27.3955,22.0004,46.2339,42.1141,44.3126,45.5374,56.6836,49.5933,47.216,41.4218,51.8334

In [215]:
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(googl_ratios)

table = driver.find_element_by_id("wrapperjqxgrid")
driver.execute_script("window.scrollBy(0, 600);")
scrollbar = driver.find_element_by_id("jqxScrollThumbhorizontalScrollBarjqxgrid")

actions = ActionChains(driver)

for i in range(1, 7):
    actions.drag_and_drop_by_offset(scrollbar, i, 0).perform()

In [216]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
googl_ratios_df = pd.DataFrame(data, columns=column_headers)

driver.close()

googl_ratios_df.head()

,Quarterly Data,,2019-06-30,2019-03-31,2018-12-31,2018-09-30,2018-06-30,2018-03-31,2017-12-31,2017-09-30,2017-06-30,2017-03-31,2016-12-31
0,Current Ratio,,3.9848,3.959,3.919,4.1437,4.152,4.8736,5.1403,5.7674,6.0148,7.1312,6.2908
1,Long-term Debt / Capital,,0.0641,0.0627,0.0221,0.0229,0.024,0.0241,0.0254,0.0246,0.026,0.0264,0.0275
2,Debt/Equity Ratio,,0.0685,0.0669,0.0226,0.0235,0.0246,0.033,0.026,0.0252,0.0267,0.0272,0.0283
3,Gross Margin,,55.5875,55.9372,54.3793,57.6734,57.4884,56.7617,55.8612,59.8589,60.1192,60.4242,59.0968
4,Operating Margin,,23.5723,18.1843,18.6704,24.6295,9.3242,24.5072,23.7107,28.021,15.8862,26.5374,25.4719

In [217]:
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(msft_ratios)

table = driver.find_element_by_id("wrapperjqxgrid")

scrollbar = driver.find_element_by_id("jqxScrollThumbhorizontalScrollBarjqxgrid")

actions = ActionChains(driver)

for i in range(1, 7):
    actions.drag_and_drop_by_offset(scrollbar, i, 0).perform()

In [218]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
msft_ratios_df = pd.DataFrame(data, columns=column_headers)

driver.close()

msft_ratios_df.head()

,Quarterly Data,,2019-06-30,2019-03-31,2018-12-31,2018-09-30,2018-06-30,2018-03-31,2017-12-31,2017-09-30,2017-06-30,2017-03-31,2016-12-31
0,Current Ratio,,2.5288,2.9685,3.1177,2.9176,2.9008,3.3958,2.8853,3.1198,2.9186,2.8134,2.0477
1,Long-term Debt / Capital,,0.4159,0.4334,0.4499,0.4672,0.4847,0.5,0.502,0.4778,0.4815,0.5222,0.4629
2,Debt/Equity Ratio,,0.7658,0.8335,0.8559,0.9525,0.989,1.0463,1.2111,1.0178,1.044,1.2048,1.2349
3,Gross Margin,,69.1194,66.7332,61.7413,65.9435,67.6184,65.4387,61.7401,66.2646,66.9752,65.2766,61.6627
4,Operating Margin,,36.7915,33.8262,31.5913,34.2284,34.4989,30.9184,30.0125,31.4125,30.002,28.9635,30.6087

In [229]:
# Merge Apple's income statement and balance sheet dataframes
aapl_df = pd.merge(aapl_is_df, aapl_bs_df, how="outer")
aapl_df.head()

,Quarterly Data | Millions of US $ except per share data,,2019-06-30,2019-03-31,2018-12-31,2018-09-30,2018-06-30,2018-03-31,2017-12-31,2017-09-30,2017-06-30,2017-03-31,2016-12-31
0,Revenue,,"$53,809","$58,015","$84,310","$62,900","$53,265","$61,137","$88,293","$52,579","$45,408","$52,896","$78,351"
1,Cost Of Goods Sold,,"$33,582","$36,194","$52,279","$38,816","$32,844","$37,715","$54,381","$32,648","$27,920","$32,305","$48,175"
2,Gross Profit,,"$20,227","$21,821","$32,031","$24,084","$20,421","$23,422","$33,912","$19,931","$17,488","$20,591","$30,176"
3,Research And Development Expenses,,"$4,257","$3,948","$3,902","$3,750","$3,701","$3,378","$3,407","$2,997","$2,937","$2,776","$2,871"
4,SG&A Expenses,,"$4,426","$4,458","$4,783","$4,216","$4,108","$4,150","$4,231","$3,814","$3,783","$3,718","$3,946"

In [232]:
# Merge Amazon's income statement and balance sheet dataframes
amzn_df = pd.merge(amzn_is_df, amzn_bs_df, how="outer")
amzn_df.head()

,Quarterly Data | Millions of US $ except per share data,,2019-06-30,2019-03-31,2018-12-31,2018-09-30,2018-06-30,2018-03-31,2017-12-31,2017-09-30,2017-06-30,2017-03-31,2016-12-31
0,Revenue,,"$16,886","$15,077","$16,914","$13,727","$13,231","$11,966","$12,972","$10,328","$9,321","$8,032","$8,809"
1,Cost Of Goods Sold,,"$3,307","$2,816","$2,796","$2,418","$2,214","$1,927","$1,610","$1,448","$1,237","$1,159","$1,047"
2,Gross Profit,,"$13,579","$12,261","$14,118","$11,309","$11,017","$10,039","$11,362","$8,880","$8,084","$6,873","$7,762"
3,Research And Development Expenses,,"$3,315","$2,860","$2,855","$2,657","$2,523","$2,238","$1,949","$2,052","$1,919","$1,834","$1,563"
4,SG&A Expenses,,"$5,638","$6,084","$3,443","$2,871","$2,631","$2,352","$2,060","$1,706","$1,764","$1,712","$1,633"

In [233]:
# Merge Facebook's income statement and balance sheet dataframes
fb_df = pd.merge(fb_is_df, fb_bs_df, how="outer")
fb_df.head()

,Quarterly Data | Millions of US $ except per share data,,2019-06-30,2019-03-31,2018-12-31,2018-09-30,2018-06-30,2018-03-31,2017-12-31,2017-09-30,2017-06-30,2017-03-31,2016-12-31
0,Revenue,,"$16,886","$15,077","$16,914","$13,727","$13,231","$11,966","$12,972","$10,328","$9,321","$8,032","$8,809"
1,Cost Of Goods Sold,,"$3,307","$2,816","$2,796","$2,418","$2,214","$1,927","$1,610","$1,448","$1,237","$1,159","$1,047"
2,Gross Profit,,"$13,579","$12,261","$14,118","$11,309","$11,017","$10,039","$11,362","$8,880","$8,084","$6,873","$7,762"
3,Research And Development Expenses,,"$3,315","$2,860","$2,855","$2,657","$2,523","$2,238","$1,949","$2,052","$1,919","$1,834","$1,563"
4,SG&A Expenses,,"$5,638","$6,084","$3,443","$2,871","$2,631","$2,352","$2,060","$1,706","$1,764","$1,712","$1,633"

In [234]:
# Merge Google's income statement and balance sheet dataframes
googl_df = pd.merge(googl_is_df, googl_bs_df, how="outer")
googl_df.head()

,Quarterly Data | Millions of US $ except per share data,,2019-06-30,2019-03-31,2018-12-31,2018-09-30,2018-06-30,2018-03-31,2017-12-31,2017-09-30,2017-06-30,2017-03-31,2016-12-31
0,Revenue,,"$38,944","$36,339","$39,276","$33,740","$32,657","$31,146","$32,323","$27,772","$26,010","$24,750","$26,064"
1,Cost Of Goods Sold,,"$17,296","$16,012","$17,918","$14,281","$13,883","$13,467","$14,267","$11,148","$10,373","$9,795","$10,661"
2,Gross Profit,,"$21,648","$20,327","$21,358","$19,459","$18,774","$17,679","$18,056","$16,624","$15,637","$14,955","$15,403"
3,Research And Development Expenses,,"$6,213","$6,029","$6,034","$5,232","$5,114","$5,039","$4,306","$4,205","$4,172","$3,942","$3,622"
4,SG&A Expenses,,"$6,255","$5,993","$7,991","$5,917","$5,544","$5,007","$6,086","$4,637","$4,597","$4,445","$5,142"

In [239]:
# Merge Microsoft's income statement and balance sheet dataframes
msft_df = pd.merge(msft_is_df, msft_bs_df, how="outer")
msft_df.head()

,Quarterly Data | Millions of US $ except per share data,,2019-06-30,2019-03-31,2018-12-31,2018-09-30,2018-06-30,2018-03-31,2017-12-31,2017-09-30,2017-06-30,2017-03-31,2016-12-31
0,Revenue,,"$33,717","$30,571","$32,471","$29,084","$30,085","$26,819","$28,918","$24,538","$25,605","$23,212","$25,826"
1,Cost Of Goods Sold,,"$10,412","$10,170","$12,423","$9,905","$9,742","$9,269","$11,064","$8,278","$8,456","$8,060","$9,901"
2,Gross Profit,,"$23,305","$20,401","$20,048","$19,179","$20,343","$17,550","$17,854","$16,260","$17,149","$15,152","$15,925"
3,Research And Development Expenses,,"$4,513","$4,316","$4,070","$3,977","$3,933","$3,715","$3,504","$3,574","$3,514","$3,355","$3,062"
4,SG&A Expenses,,"$6,387","$5,744","$5,720","$5,247","$6,031","$5,543","$5,671","$4,978","$5,647","$5,074","$4,958"

In [259]:
# Export the 5 merged dataframes as CSV files
aapl_df.to_csv("./Datasets/AAPL_IS_BS.csv")
amzn_df.to_csv("./Datasets/AMZN_IS_BS.csv")
fb_df.to_csv("./Datasets/FB_IS_BS.csv")
googl_df.to_csv("./Datasets/GOOGL_IS_BS.csv")
msft_df.to_csv("./Datasets/MSFT_IS_BS.csv")

In [260]:
# Export the 5 cash flow dataframes as CSV files
aapl_cf_df.to_csv("./Datasets/AAPL_CF.csv")
amzn_cf_df.to_csv("./Datasets/AMZN_CF.csv")
fb_cf_df.to_csv("./Datasets/FB_CF.csv")
googl_cf_df.to_csv("./Datasets/GOOGL_CF.csv")
msft_cf_df.to_csv("./Datasets/MSFT_CF.csv")

In [261]:
# Export the 5 financial ratio dataframes as CSV files
aapl_ratios_df.to_csv("./Datasets/AAPL_CF.csv")
amzn_ratios_df.to_csv("./Datasets/AMZN_CF.csv")
fb_ratios_df.to_csv("./Datasets/FB_CF.csv")
googl_ratios_df.to_csv("./Datasets/GOOGL_CF.csv")
msft_ratios_df.to_csv("./Datasets/MSFT_CF.csv")